<launch>     
    
  <!-- Check areas using rviz:
  1. get map using map_saver
        rosrun  map_server map_saver -f mapName
  2. run this launch
      You will see current areas plotted as defined in yaml file
  3. to plot new areas just use 'click point' from rviz (two times, lower and upper point)
  4. terminal will prompt yaml code to correct your config file
     - without region names (subregions follow name convention 'regionName - subregionName' )
     - subregions will have incorrect indentation 
  -->

    
  <!-- Map obtained running  map_saver -->
  <node pkg="map_server" type="map_server" name="FDG_map" output="screen" args="$(find define_areas)/maps/FDG2.yaml"/>

    
  <!-- Launch define_areas: plots squares on every pair of clicked points. yaml file is initial config, taken from rfid gridmap package-->
  <node pkg="define_areas" type="define_areas_node" name="define_areas_node" output="screen">
        <rosparam param="regions_file" subst_value="True">$(find rfid_grid_map)/config/FDG.yaml</rosparam>
  </node>
    
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="areas_grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find define_areas)/config/visualization.yaml" />
  </node>
  
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find define_areas)/rviz/check_map.rviz" />
  
</launch>
