<?xml version="1.0"?>

<!--

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rfid_tag">

<xacro:arg name="ID" default="1"/>
<xacro:arg name="sensitivity" default="-85.0"/>
<xacro:arg name="gain" default="25.2"/>

<xacro:arg name="tf_prefix" default=""/>

<!-- person -->
<link name="$(arg tf_prefix)/person_$(arg ID)">
  <inertial>
    <origin xyz="0 -0.1 0.95" rpy="0 0 0"/>
    <mass value="80" />
    <inertia ixx="24.88" ixy="0" ixz="0" iyy="25.73" iyz="0" izz="2.48" />
  </inertial>

  <collision name="$(arg tf_prefix)/person_collision">
    <origin xyz="0 0 0.02" rpy="0.04 0 0"/>
    <geometry>
      <mesh scale="1 1 1" filename="package://gazebo_rfid_node/models/person_standing/meshes/standing.dae"/>
    </geometry>
  </collision>

  <visual name="visual">
    <origin xyz="0 0 0.02" rpy="0.04 0 0"/>
    <geometry>
      <mesh filename="package://gazebo_rfid_node/models/person_standing/meshes/standing.dae"/>
    </geometry>
  </visual>
</link>

<link name="$(arg tf_prefix)/bottom_$(arg ID)">
  <collision name="$(arg tf_prefix)/bottom_collision">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box>
        <size>0.5 0.35 0.02</size>
      </box>
    </geometry>
  </collision>
  
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="80" />
    <inertia ixx="24.88" ixy="0" ixz="0" iyy="25.73" iyz="0" izz="2.48" />
  </inertial>

  <!-- <visual name="visual">
    <origin xyz="0 0 0.02" rpy="0.04 0 0"/>
    <geometry>
      <box>
        <size>0.5 0.35 0.02</size>
      </box>
    </geometry>
  </visual> -->

</link>

<!-- RFID reader -->
<link name="$(arg tf_prefix)/rfid_tag_$(arg ID)_link">
  <collision name="rfid_tag_$(arg ID)_collision">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh scale="0.005 0.005 0.005"  filename="package://gazebo_rfid_node/models/tag/tag.stl"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh  scale="0.005 0.005 0.005" filename="package://gazebo_rfid_node/models/tag/tag.stl"/>
    </geometry>
  </visual>

  <inertial>
    <mass value="1e-5" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="1e-1" ixy="0" ixz="0" iyy="1e-1" iyz="0" izz="1e-1" />
  </inertial>
</link>

<joint name="bottom_person" type="fixed">
  <parent link="$(arg tf_prefix)/person_$(arg ID)"/>
  <child link="$(arg tf_prefix)/bottom_$(arg ID)"/>
  <origin xyz="0 -0.1 0.01" rpy="0.0 0.0 0" />
</joint>

<joint name="link_rfid" type="fixed">
  <parent link="$(arg tf_prefix)/person_$(arg ID)"/>
  <child link="$(arg tf_prefix)/rfid_tag_$(arg ID)_link"/>
  <origin xyz="-0.27 -0.05 1.4" rpy="0.0 0.0 0" />  <!-- tag on the arm below the shoulder-->
</joint>


<gazebo reference="$(arg tf_prefix)/rfid_tag_$(arg ID)_link">
  <turnGravityOff>true</turnGravityOff>
  <static>true</static>
  <sensor name="rfid_tag_$(arg ID)_sensor" type="rfid_tag">
    <pose>0 0 0 0 0 0</pose>
    <visualize>true</visualize>
    <update_rate>40</update_rate>
    <always_on>1</always_on>
    <transceiver>
      <essid>$(arg ID)</essid>
      <sensitivity>$(arg sensitivity)</sensitivity>
      <gain>$(arg gain)</gain>
    </transceiver>
  </sensor>
</gazebo>


<gazebo>
  <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
    <frameName>map</frameName>
    <bodyName>$(arg tf_prefix)/person_$(arg ID)</bodyName>
    <topicName>poses/$(arg ID)</topicName>
    <updateRate>5.0</updateRate>
  </plugin>
</gazebo>


</robot>
