<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- 
      This is the visualization part of launcher grid.launch
      It is complementary to grid_deploy.launch to get same output than grid.launch
      Useful for debugging a deployed system.

      It publishes a costmap from the gridmap that can be displayed in RVIZ.
  -->    
  <arg name="rfid_belief_topic_name"    default="rfid_belief_maps"/>


    <!-- Launch the grid map visualizer -->
    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
      <rosparam command="load" file="$(find rfid_grid_map)/config/visualization.yaml" />
      <rosparam param="grid_map_topic" subst_value="True">$(arg rfid_belief_topic_name)</rosparam>    
    </node>


</launch>
