<?xml version="1.0"?>


<launch>
    
  <!-- It includes visualization nodes (rviz-related) -->
  <!-- Uses a bag file to simulate robot and a big set of tags-->

  <!-- Launch bag file: data -->
  <arg name="mapFile" default="$(find pr_model)/tests/linda/fab-lab-rfid.yaml"/>
  <arg name="robot_tf" default="odom"/>
  <arg name="world_tf" value="map"/>
  <arg name="bagFile" default="$(find pr_model)/tests/linda/2000-Linda-FAB-LAB-Static.bag"/>
  <param name="csvDataFile" value="$(find pr_model)/tests/linda/20db-linda-fab-lab-Static-Data.csv"/>

  <!--  Our bag  -r X refers to replay speed -->
  <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock $(arg bagFile) -q -r 1"/>    
 
  <param name="use_sim_time" value="true" />
   
  <!--  Static map.  -->     
  <node pkg="map_server" type="map_server" name="lcas_map" output="screen" args="$(arg mapFile)"/>


  <!--  Tag positions and TF both relative to robot and global  --> 
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000001"/>
      <arg name="tag_num" value="1"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000002"/>
      <arg name="tag_num" value="2"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000003"/>
      <arg name="tag_num" value="3"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000004"/>
      <arg name="tag_num" value="4"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000005"/>
      <arg name="tag_num" value="5"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000006"/>
      <arg name="tag_num" value="6"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000007"/>
      <arg name="tag_num" value="7"/>
      <arg name="onlyPose" value="True"/>
  </include>
  
  <include file="$(find pr_model)/launch/tagData.launch">
      <arg name="robot_tf" value="$(arg robot_tf)"/>
      <arg name="world_tf" value="$(arg world_tf)"/>
      
      <arg name="tagID" value="390100010000000000000008"/>
      <arg name="tag_num" value="8"/>
      <arg name="onlyPose" value="True"/>
  </include> 



  <!--  Just for visualization purposes  -->     
  <node pkg="rviz" type="rviz" output="screen" name="rviz_node" args="-d $(find pr_model)/tests/linda/linda.rviz"/>   

  
  <node pkg="pr_model" type="createRFIDcsv.py" name="testnode" output="screen" />
  

</launch>
      

