<launch>
    
  <!-- It includes visualization nodes (rviz-related) -->
  <!-- Uses a bag file to simulate robot and a big set of tags-->

  <!-- Launch bag file: data -->
  <arg name="mapFile" default="$(find pr_model)/tests/linda/fab-lab-rfid.yaml"/>
  <arg name="robot_tf" default="odom"/>
  <arg name="world_tf" value="map"/>
  <param name="modelDataFile" value="$(find pr_model)/tests/linda/20db-fab-lab.csv"/>
  
  <param name="use_sim_time" value="true" />
   
  <!--  Static map.  -->     
  <node pkg="map_server" type="map_server" name="lcas_map" output="screen" args="$(arg mapFile)"/>

  <!--  Just for visualization purposes  -->     
  <node pkg="rviz" type="rviz" output="screen" name="rviz_node" args="-d $(find pr_model)/tests/linda/linda.rviz"/>   

</launch>
