  <!-- 
        Plays recorded data on alfie. We use amcl to correct odometry drifts
  -->
  
<launch>  
    
  <arg name="bagFile" default="$(find pr_model)/tests/long/long_1tag.bag"/>
  <param name="modelDataFile" value="$(find pr_model)/tests/long/long_1tag.csv"/>
  <param name="use_sim_time" value="true" />

  
  <!--  Our bag  -r X refers to replay speed -->
  <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock $(arg bagFile) -q -r 1"/>    
  
  <!--  Start Sensor Model Node -->
  <node pkg="pr_model" type="locator_node.py" name="locat" output="screen" />
  
</launch>
      
